@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #131313;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 1200px;
    transform-style: preserve-3d;
}
.container .box
{
    position: relative;
    width: 300px;
    height: 400px;
    margin: 40px;
    background: #232323;
    border-radius: 20px;
    transform-style: preserve-3d;
}
.container .box::before
{
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 6em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box::after
{
    content: '';
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 5em;
    font-weight: 900;
    color: #fff;
    font-style: italic;
    opacity: 0;
    transition: 0.5s;
}
.container .box:hover::before,
.container .box:hover::after
{
    opacity: 0.04;
}
.container .box .name
{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    color: #fff;
    width: 100%;
    transform-style: preserve-3d;
    transform: translate3d(0,0,75px);
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .name
{
    top: 10px;
    opacity: 1;
}
.container .box .buy
{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-style: preserve-3d;
    transform: translate3d(-50%,0,75px);
    color: #fff;
    background: #333;
    padding: 10px 25px;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.5s;
    opacity: 0;
    z-index: 10;
}
.container .box:hover .buy
{
    bottom: 0px;
    opacity: 1;
}
.container .box .product
{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 300px;
    width: 200px;
    transition: 0.5s;
    z-index: 11;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}
.container .box:hover .product
{
    transform: translate3d(-50%, -50%, 100px);
}










header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    z-index: 10000;
    transition: 0.6s;
}
header img
{
    position: relative;
    text-decoration: none;
    height: 80px;
    width: 250px;
    margin-left: -25px;
    margin-top: -20px;
    transition: 0.6s;
}
header #toggle
{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
header #toggle:before
{
    content: '';
    position: absolute;
    top: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
header #toggle:after
{
    content: '';
    position: absolute;
    bottom: 7px;
    width: 100%;
    height: 2px;
    background: #fff;
}
.banner.active header #toggle:before
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
}
.banner.active header #toggle:after
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 150px;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}
.banner.active
{
    transform: translateX(-400px);
}
#navigation
{
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #40c3ff;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active
{
    right: 0;
}

#navigation ul
{
    position: relative;
    display: flex;
    flex-direction: column;
}
#navigation ul li
{
    list-style: none;
}
#navigation ul li a
{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
#navigation ul li h1
{
    color: #1e2020;
    margin-top: -100px;
    font-size: 30px ;
}
#navigation ul button
{
    background-color:  #232323;
    border-color:  #232323;
    border-radius: 20px;
	color: #FFFFFF;
    font-size: 20px;
    margin-top: 50px;
	font-weight: bold;
	padding: 12px 30px;
	letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}
#navigation ul button a
{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
}
#navigation ul button:hover
{
    background-color: transparent;
}
#navigation ul button a:hover
{
    color:  #232323;
}


@media (max-width: 767px)
{
    header
    {
        padding: 20px 50px;
    }
    .banner
    {
        padding: 100px 50px 150px;
    }
    .banner .content a
    {
        font-size: 1em;
    }
    .banner.banner.active
    {
        transform: translateX(-250px);
    }
    #navigation
    {
        width: 250px;
    }
    #navigation ul li a 
    {
        font-size: 1.5em;
        margin: 5px 0;
    }
}